<ion-header translucent>
  <ion-toolbar>
    <ion-title>Lista de candidatos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-list *ngIf="dis===false">
    
    <ion-list-header>
      Candidatos
    </ion-list-header>
    <ion-radio-group  allow-empty-selection *ngFor="let candidato of list">
    <ion-item >
      <ion-avatar slot="start">
        <img [src]="'http://localhost:1337'+candidato.avatar.url" alt="">
      </ion-avatar>
      <ion-label>
        <h2>{{candidato.nombre}} </h2>
        <h3>{{candidato.partidoPol}}</h3>
        <p>{{candidato.propuesta}}</p>
      </ion-label>
      <ion-radio (click)="selectCandidato(candidato.id)" slot="end" color="success" value="candidato.nombre" checked></ion-radio>
    </ion-item>
  </ion-radio-group >

  </ion-list>

  <ion-item *ngIf="dis===true">
    <ion-label>
      <h2>Ya emitiste tu voto</h2>
    </ion-label>
  </ion-item>
</ion-content>
