<ion-header>
</ion-header>

<ion-content>
  <ion-text style="margin-left: 50px;">
    <h3 class="page-title"> 
      <small>Lista de</small>
      votantes
    </h3>
</ion-text>
  <section class="content">
    <section class="section-buttons">
      <ion-button class="button"[routerLink]="['add',user]">Añadir votante<ion-icon name="add-outline"></ion-icon></ion-button>
      <ion-button class="button"(click)="openEditForm(this.user)" >Editar<ion-icon name="create-outline"></ion-icon></ion-button>
      <ion-button class="button"(click)="deleteData(this.user)">Borrar<ion-icon name="trash-outline"></ion-icon></ion-button>
    </section>
  </section>
  
  <div class="table">
    <app-data-table [listRows]="list" [columns]="columns" (itemSelect)="getDataSelected($event)" ></app-data-table>
  </div>
  <div>
   
  </div>
  
</ion-content>
