<div> 

  
  <div style="float:left;width:95%">
    <ngx-datatable
        #mydatatable
        class="material"
        [headerHeight]="50"
        [limit]="5"
        [columnMode]="ColumnMode.force"
        [footerHeight]="50"
        rowHeight="auto"
        [rows]="rows"
      >
    
      <ngx-datatable-column
      style="margin: 5px;"
        [width]="30"
        [sortable]="false"
        [canAutoResize]="false"
        [draggable]="true"
        [resizeable]="false"
        [headerCheckboxable]="true"
        [checkboxable]="true"
      >
      </ngx-datatable-column>
      <ngx-datatable-column *ngFor="let column of columns" [name]='column' ></ngx-datatable-column>
      <ngx-datatable-column name="votar">
        <ng-template let-value="value" let-row="row"  ngx-datatable-cell-template>
          <span ><ion-button >Votar</ion-button></span>
        </ng-template>
      </ngx-datatable-column>

    </ngx-datatable>
  </div> 
</div>
